# Ignore WordPress core files and standard directories
/wp-admin/
/wp-includes/
/wp-content/plugins/
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/temp/
wp-config.php
.env
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Ignore editor and IDE configuration files
.idea/
.vscode/
vendor
composer.json
composer.lock
wp-content/themes/candleprise/bin/
wp-content/themes/candleprise/.travis.yml
wp-content/debug.log
wp-content/themes/candleprise/LICENSE
wp-content/logs/





# Include custom theme(s) and plugin(s) you want to push
!/wp-content/themes/candleprise/
!/wp-content/themes/candleprise/README.md
