<div class="col-md-12 text-center">
    <div class="footer__bottom" data-share="false">
        <div class="footer__language">
            <div class="footer__language-switcher"></div>
        </div>
        <div class="footer__links" style="text-align: right;">
            <p class="footer__copyright" style="display: inline;">Copyright &copy; {{ function('current_time', 'Y') }} CandlePrise</p>
            <span class="separateur-footer-bottom"> | </span>
            <p class="footer__copyright" style="display: inline;">Powred By <a href="#">Ardortech</a></p>
        </div>
    </div>
</div>